In [8]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("First 10 numbers:", numbers)

maximum = max(numbers)
minimum = min(numbers)

print("Maximum number:", maximum)
print("Minimum number:", minimum)

numbers.append(20)
numbers.remove(3)
numbers[2] = 3000;
print(numbers);

First 10 numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Maximum number: 10
Minimum number: 1
[1, 2, 3000, 5, 6, 7, 8, 9, 10, 20]

In [10]:
my_tuple = ("apple", "banana", "cherry", "orange", "grapes")
print("Tuple:", my_tuple)

my_list = list(my_tuple)
print("Converted List:", my_list)

my_list[1] = "grapes"
print(my_list)

Tuple: ('apple', 'banana', 'cherry', 'orange', 'grapes')
Converted List: ['apple', 'banana', 'cherry', 'orange', 'grapes']
['apple', 'grapes', 'cherry', 'orange', 'grapes']

ist

Mataplotlib

Numpy

tuple

In [ ]:
my_tuple = ("apple", "banana", "cherry", "orange", "grapes")
print("Tuple:", my_tuple)
print("First element:", my_tuple[0])
print("Last element:", my_tuple[-1])

temp_list = list(my_tuple)
temp_list[1] = "mango"
my_tuple = tuple(temp_list)
print("Updated Tuple:", my_tuple)

set

In [ ]:
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

union_set = set_a | set_b
intersection_set = set_a & set_b
difference_set = set_a - set_b


print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference (A - B):", difference_set)


set_a.add(10)
set_a.remove(2)

print("Updated set_a:", set_a)

Dictionary

In [13]:
student = {
    "name": "Hassan",
    "age": 20,
    "course": "Computer Science",
    "roll_no": 101,
    "grade": "A"
}

print("Dictionary:", student)
print("Name:", student["name"])
print("Age:", student["age"])
print("Course:", student["course"])
print("Roll No:", student["roll_no"])
print("Grade:", student["grade"])  # corrected this line

# Example of updating one value
student["age"] = 21
print("Updated Age:", student["age"])

Dictionary: {'name': 'Hassan', 'age': 20, 'course': 'Computer Science', 'roll_no': 101, 'grade': 'A'}
Name: Hassan
Age: 20
Course: Computer Science
Roll No: 101
Grade: A
Updated Age: 21